src/main/java/com/coverity/ws/v6/configurationservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.coverity.com/v6" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.coverity.com/v6" name="ConfigurationServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.coverity.com/v6" schemaLocation="http://jvinson-wrkst:14800/ws/v6/configurationservice?xsd=1"/>
</xsd:schema>
</types>
<message name="updateGroup">
<part name="parameters" element="tns:updateGroup"/>
</message>
<message name="updateGroupResponse">
<part name="parameters" element="tns:updateGroupResponse"/>
</message>
<message name="CovRemoteServiceException">
<part name="fault" element="tns:CoverityFault"/>
</message>
<message name="deleteGroup">
<part name="parameters" element="tns:deleteGroup"/>
</message>
<message name="deleteGroupResponse">
<part name="parameters" element="tns:deleteGroupResponse"/>
</message>
<message name="updateAttribute">
<part name="parameters" element="tns:updateAttribute"/>
</message>
<message name="updateAttributeResponse">
<part name="parameters" element="tns:updateAttributeResponse"/>
</message>
<message name="deleteAttribute">
<part name="parameters" element="tns:deleteAttribute"/>
</message>
<message name="deleteAttributeResponse">
<part name="parameters" element="tns:deleteAttributeResponse"/>
</message>
<message name="createComponentMap">
<part name="parameters" element="tns:createComponentMap"/>
</message>
<message name="createComponentMapResponse">
<part name="parameters" element="tns:createComponentMapResponse"/>
</message>
<message name="updateComponentMap">
<part name="parameters" element="tns:updateComponentMap"/>
</message>
<message name="updateComponentMapResponse">
<part name="parameters" element="tns:updateComponentMapResponse"/>
</message>
<message name="deleteComponentMap">
<part name="parameters" element="tns:deleteComponentMap"/>
</message>
<message name="deleteComponentMapResponse">
<part name="parameters" element="tns:deleteComponentMapResponse"/>
</message>
<message name="createProject">
<part name="parameters" element="tns:createProject"/>
</message>
<message name="createProjectResponse">
<part name="parameters" element="tns:createProjectResponse"/>
</message>
<message name="updateProject">
<part name="parameters" element="tns:updateProject"/>
</message>
<message name="updateProjectResponse">
<part name="parameters" element="tns:updateProjectResponse"/>
</message>
<message name="deleteProject">
<part name="parameters" element="tns:deleteProject"/>
</message>
<message name="deleteProjectResponse">
<part name="parameters" element="tns:deleteProjectResponse"/>
</message>
<message name="createRole">
<part name="parameters" element="tns:createRole"/>
</message>
<message name="createRoleResponse">
<part name="parameters" element="tns:createRoleResponse"/>
</message>
<message name="updateRole">
<part name="parameters" element="tns:updateRole"/>
</message>
<message name="updateRoleResponse">
<part name="parameters" element="tns:updateRoleResponse"/>
</message>
<message name="deleteRole">
<part name="parameters" element="tns:deleteRole"/>
</message>
<message name="deleteRoleResponse">
<part name="parameters" element="tns:deleteRoleResponse"/>
</message>
<message name="createStream">
<part name="parameters" element="tns:createStream"/>
</message>
<message name="createStreamResponse">
<part name="parameters" element="tns:createStreamResponse"/>
</message>
<message name="updateStream">
<part name="parameters" element="tns:updateStream"/>
</message>
<message name="updateStreamResponse">
<part name="parameters" element="tns:updateStreamResponse"/>
</message>
<message name="deleteStream">
<part name="parameters" element="tns:deleteStream"/>
</message>
<message name="deleteStreamResponse">
<part name="parameters" element="tns:deleteStreamResponse"/>
</message>
<message name="createTriageStore">
<part name="parameters" element="tns:createTriageStore"/>
</message>
<message name="createTriageStoreResponse">
<part name="parameters" element="tns:createTriageStoreResponse"/>
</message>
<message name="updateTriageStore">
<part name="parameters" element="tns:updateTriageStore"/>
</message>
<message name="updateTriageStoreResponse">
<part name="parameters" element="tns:updateTriageStoreResponse"/>
</message>
<message name="deleteTriageStore">
<part name="parameters" element="tns:deleteTriageStore"/>
</message>
<message name="deleteTriageStoreResponse">
<part name="parameters" element="tns:deleteTriageStoreResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getComponent">
<part name="parameters" element="tns:getComponent"/>
</message>
<message name="getComponentResponse">
<part name="parameters" element="tns:getComponentResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getStreams">
<part name="parameters" element="tns:getStreams"/>
</message>
<message name="getStreamsResponse">
<part name="parameters" element="tns:getStreamsResponse"/>
</message>
<message name="mergeTriageStores">
<part name="parameters" element="tns:mergeTriageStores"/>
</message>
<message name="mergeTriageStoresResponse">
<part name="parameters" element="tns:mergeTriageStoresResponse"/>
</message>
<message name="getAllPermissions">
<part name="parameters" element="tns:getAllPermissions"/>
</message>
<message name="getAllPermissionsResponse">
<part name="parameters" element="tns:getAllPermissionsResponse"/>
</message>
<message name="getSnapshotsForStream">
<part name="parameters" element="tns:getSnapshotsForStream"/>
</message>
<message name="getSnapshotsForStreamResponse">
<part name="parameters" element="tns:getSnapshotsForStreamResponse"/>
</message>
<message name="deleteSnapshot">
<part name="parameters" element="tns:deleteSnapshot"/>
</message>
<message name="deleteSnapshotResponse">
<part name="parameters" element="tns:deleteSnapshotResponse"/>
</message>
<message name="getCheckerProperties">
<part name="parameters" element="tns:getCheckerProperties"/>
</message>
<message name="getCheckerPropertiesResponse">
<part name="parameters" element="tns:getCheckerPropertiesResponse"/>
</message>
<message name="setAcceptingNewCommits">
<part name="parameters" element="tns:setAcceptingNewCommits"/>
</message>
<message name="setAcceptingNewCommitsResponse">
<part name="parameters" element="tns:setAcceptingNewCommitsResponse"/>
</message>
<message name="copyStream">
<part name="parameters" element="tns:copyStream"/>
</message>
<message name="copyStreamResponse">
<part name="parameters" element="tns:copyStreamResponse"/>
</message>
<message name="createStreamInProject">
<part name="parameters" element="tns:createStreamInProject"/>
</message>
<message name="createStreamInProjectResponse">
<part name="parameters" element="tns:createStreamInProjectResponse"/>
</message>
<message name="getMessageOfTheDay">
<part name="parameters" element="tns:getMessageOfTheDay"/>
</message>
<message name="getMessageOfTheDayResponse">
<part name="parameters" element="tns:getMessageOfTheDayResponse"/>
</message>
<message name="setMessageOfTheDay">
<part name="parameters" element="tns:setMessageOfTheDay"/>
</message>
<message name="setMessageOfTheDayResponse">
<part name="parameters" element="tns:setMessageOfTheDayResponse"/>
</message>
<message name="getProjects">
<part name="parameters" element="tns:getProjects"/>
</message>
<message name="getProjectsResponse">
<part name="parameters" element="tns:getProjectsResponse"/>
</message>
<message name="getServerTime">
<part name="parameters" element="tns:getServerTime"/>
</message>
<message name="getServerTimeResponse">
<part name="parameters" element="tns:getServerTimeResponse"/>
</message>
<message name="getSystemConfig">
<part name="parameters" element="tns:getSystemConfig"/>
</message>
<message name="getSystemConfigResponse">
<part name="parameters" element="tns:getSystemConfigResponse"/>
</message>
<message name="getDefectStatuses">
<part name="parameters" element="tns:getDefectStatuses"/>
</message>
<message name="getDefectStatusesResponse">
<part name="parameters" element="tns:getDefectStatusesResponse"/>
</message>
<message name="getComponentMaps">
<part name="parameters" element="tns:getComponentMaps"/>
</message>
<message name="getComponentMapsResponse">
<part name="parameters" element="tns:getComponentMapsResponse"/>
</message>
<message name="getSnapshotInformation">
<part name="parameters" element="tns:getSnapshotInformation"/>
</message>
<message name="getSnapshotInformationResponse">
<part name="parameters" element="tns:getSnapshotInformationResponse"/>
</message>
<message name="getLdapServerDomains">
<part name="parameters" element="tns:getLdapServerDomains"/>
</message>
<message name="getLdapServerDomainsResponse">
<part name="parameters" element="tns:getLdapServerDomainsResponse"/>
</message>
<message name="getCommitState">
<part name="parameters" element="tns:getCommitState"/>
</message>
<message name="getCommitStateResponse">
<part name="parameters" element="tns:getCommitStateResponse"/>
</message>
<message name="getTriageStores">
<part name="parameters" element="tns:getTriageStores"/>
</message>
<message name="getTriageStoresResponse">
<part name="parameters" element="tns:getTriageStoresResponse"/>
</message>
<message name="getLicenseState">
<part name="parameters" element="tns:getLicenseState"/>
</message>
<message name="getLicenseStateResponse">
<part name="parameters" element="tns:getLicenseStateResponse"/>
</message>
<message name="getAllIntegrityControlPermissions">
<part name="parameters" element="tns:getAllIntegrityControlPermissions"/>
</message>
<message name="getAllIntegrityControlPermissionsResponse">
<part name="parameters" element="tns:getAllIntegrityControlPermissionsResponse"/>
</message>
<message name="updateSnapshotInfo">
<part name="parameters" element="tns:updateSnapshotInfo"/>
</message>
<message name="updateSnapshotInfoResponse">
<part name="parameters" element="tns:updateSnapshotInfoResponse"/>
</message>
<message name="getLastUpdateTimes">
<part name="parameters" element="tns:getLastUpdateTimes"/>
</message>
<message name="getLastUpdateTimesResponse">
<part name="parameters" element="tns:getLastUpdateTimesResponse"/>
</message>
<message name="notify">
<part name="parameters" element="tns:notify"/>
</message>
<message name="notifyResponse">
<part name="parameters" element="tns:notifyResponse"/>
</message>
<message name="getAttributes">
<part name="parameters" element="tns:getAttributes"/>
</message>
<message name="getAttributesResponse">
<part name="parameters" element="tns:getAttributesResponse"/>
</message>
<message name="getAttribute">
<part name="parameters" element="tns:getAttribute"/>
</message>
<message name="getAttributeResponse">
<part name="parameters" element="tns:getAttributeResponse"/>
</message>
<message name="getVersion">
<part name="parameters" element="tns:getVersion"/>
</message>
<message name="getVersionResponse">
<part name="parameters" element="tns:getVersionResponse"/>
</message>
<message name="getGroups">
<part name="parameters" element="tns:getGroups"/>
</message>
<message name="getGroupsResponse">
<part name="parameters" element="tns:getGroupsResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getRole">
<part name="parameters" element="tns:getRole"/>
</message>
<message name="getRoleResponse">
<part name="parameters" element="tns:getRoleResponse"/>
</message>
<message name="getGroup">
<part name="parameters" element="tns:getGroup"/>
</message>
<message name="getGroupResponse">
<part name="parameters" element="tns:getGroupResponse"/>
</message>
<message name="createGroup">
<part name="parameters" element="tns:createGroup"/>
</message>
<message name="createGroupResponse">
<part name="parameters" element="tns:createGroupResponse"/>
</message>
<message name="createAttribute">
<part name="parameters" element="tns:createAttribute"/>
</message>
<message name="createAttributeResponse">
<part name="parameters" element="tns:createAttributeResponse"/>
</message>
<message name="getAllRoles">
<part name="parameters" element="tns:getAllRoles"/>
</message>
<message name="getAllRolesResponse">
<part name="parameters" element="tns:getAllRolesResponse"/>
</message>
<portType name="ConfigurationService">
<operation name="updateGroup">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateGroupRequest" message="tns:updateGroup"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateGroupResponse" message="tns:updateGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteGroup">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteGroupRequest" message="tns:deleteGroup"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteGroupResponse" message="tns:deleteGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateAttribute">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateAttributeRequest" message="tns:updateAttribute"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateAttributeResponse" message="tns:updateAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteAttribute">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteAttributeRequest" message="tns:deleteAttribute"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteAttributeResponse" message="tns:deleteAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createComponentMap">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createComponentMapRequest" message="tns:createComponentMap"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createComponentMapResponse" message="tns:createComponentMapResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createComponentMap/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateComponentMap">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateComponentMapRequest" message="tns:updateComponentMap"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateComponentMapResponse" message="tns:updateComponentMapResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateComponentMap/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteComponentMap">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteComponentMapRequest" message="tns:deleteComponentMap"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteComponentMapResponse" message="tns:deleteComponentMapResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteComponentMap/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createProject">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createProjectRequest" message="tns:createProject"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createProjectResponse" message="tns:createProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateProject">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateProjectRequest" message="tns:updateProject"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateProjectResponse" message="tns:updateProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteProject">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteProjectRequest" message="tns:deleteProject"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteProjectResponse" message="tns:deleteProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createRole">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createRoleRequest" message="tns:createRole"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createRoleResponse" message="tns:createRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateRole">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateRoleRequest" message="tns:updateRole"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateRoleResponse" message="tns:updateRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteRole">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteRoleRequest" message="tns:deleteRole"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteRoleResponse" message="tns:deleteRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createStream">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createStreamRequest" message="tns:createStream"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createStreamResponse" message="tns:createStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateStream">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateStreamRequest" message="tns:updateStream"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateStreamResponse" message="tns:updateStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteStream">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteStreamRequest" message="tns:deleteStream"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteStreamResponse" message="tns:deleteStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createTriageStore">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createTriageStoreRequest" message="tns:createTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createTriageStoreResponse" message="tns:createTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateTriageStore">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateTriageStoreRequest" message="tns:updateTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateTriageStoreResponse" message="tns:updateTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteTriageStore">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteTriageStoreRequest" message="tns:deleteTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteTriageStoreResponse" message="tns:deleteTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createUserResponse" message="tns:createUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createUser/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateUserResponse" message="tns:updateUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateUser/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteUserResponse" message="tns:deleteUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteUser/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getComponent">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getComponentRequest" message="tns:getComponent"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getComponentResponse" message="tns:getComponentResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getComponent/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getUser/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getStreams">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getStreamsRequest" message="tns:getStreams"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getStreamsResponse" message="tns:getStreamsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getStreams/Fault/CovRemoteServiceException"/>
</operation>
<operation name="mergeTriageStores">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/mergeTriageStoresRequest" message="tns:mergeTriageStores"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/mergeTriageStoresResponse" message="tns:mergeTriageStoresResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/mergeTriageStores/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getAllPermissions">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAllPermissionsRequest" message="tns:getAllPermissions"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAllPermissionsResponse" message="tns:getAllPermissionsResponse"/>
</operation>
<operation name="getSnapshotsForStream">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSnapshotsForStreamRequest" message="tns:getSnapshotsForStream"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSnapshotsForStreamResponse" message="tns:getSnapshotsForStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSnapshotsForStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="deleteSnapshot">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteSnapshotRequest" message="tns:deleteSnapshot"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteSnapshotResponse" message="tns:deleteSnapshotResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/deleteSnapshot/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCheckerProperties">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getCheckerPropertiesRequest" message="tns:getCheckerProperties"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getCheckerPropertiesResponse" message="tns:getCheckerPropertiesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getCheckerProperties/Fault/CovRemoteServiceException"/>
</operation>
<operation name="setAcceptingNewCommits">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/setAcceptingNewCommitsRequest" message="tns:setAcceptingNewCommits"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/setAcceptingNewCommitsResponse" message="tns:setAcceptingNewCommitsResponse"/>
</operation>
<operation name="copyStream">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/copyStreamRequest" message="tns:copyStream"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/copyStreamResponse" message="tns:copyStreamResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/copyStream/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createStreamInProject">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createStreamInProjectRequest" message="tns:createStreamInProject"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createStreamInProjectResponse" message="tns:createStreamInProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createStreamInProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMessageOfTheDay">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getMessageOfTheDayRequest" message="tns:getMessageOfTheDay"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getMessageOfTheDayResponse" message="tns:getMessageOfTheDayResponse"/>
</operation>
<operation name="setMessageOfTheDay">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/setMessageOfTheDayRequest" message="tns:setMessageOfTheDay"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/setMessageOfTheDayResponse" message="tns:setMessageOfTheDayResponse"/>
</operation>
<operation name="getProjects">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getProjectsRequest" message="tns:getProjects"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getProjectsResponse" message="tns:getProjectsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getProjects/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getServerTime">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getServerTimeRequest" message="tns:getServerTime"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getServerTimeResponse" message="tns:getServerTimeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getServerTime/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSystemConfig">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSystemConfigRequest" message="tns:getSystemConfig"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSystemConfigResponse" message="tns:getSystemConfigResponse"/>
</operation>
<operation name="getDefectStatuses">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getDefectStatusesRequest" message="tns:getDefectStatuses"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getDefectStatusesResponse" message="tns:getDefectStatusesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getDefectStatuses/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getComponentMaps">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getComponentMapsRequest" message="tns:getComponentMaps"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getComponentMapsResponse" message="tns:getComponentMapsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getComponentMaps/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getSnapshotInformation">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSnapshotInformationRequest" message="tns:getSnapshotInformation"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSnapshotInformationResponse" message="tns:getSnapshotInformationResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getSnapshotInformation/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getLdapServerDomains">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getLdapServerDomainsRequest" message="tns:getLdapServerDomains"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getLdapServerDomainsResponse" message="tns:getLdapServerDomainsResponse"/>
</operation>
<operation name="getCommitState">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getCommitStateRequest" message="tns:getCommitState"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getCommitStateResponse" message="tns:getCommitStateResponse"/>
</operation>
<operation name="getTriageStores">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getTriageStoresRequest" message="tns:getTriageStores"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getTriageStoresResponse" message="tns:getTriageStoresResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getTriageStores/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getLicenseState">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getLicenseStateRequest" message="tns:getLicenseState"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getLicenseStateResponse" message="tns:getLicenseStateResponse"/>
</operation>
<operation name="getAllIntegrityControlPermissions">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAllIntegrityControlPermissionsRequest" message="tns:getAllIntegrityControlPermissions"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAllIntegrityControlPermissionsResponse" message="tns:getAllIntegrityControlPermissionsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAllIntegrityControlPermissions/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateSnapshotInfo">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateSnapshotInfoRequest" message="tns:updateSnapshotInfo"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateSnapshotInfoResponse" message="tns:updateSnapshotInfoResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/updateSnapshotInfo/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getLastUpdateTimes">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getLastUpdateTimesRequest" message="tns:getLastUpdateTimes"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getLastUpdateTimesResponse" message="tns:getLastUpdateTimesResponse"/>
</operation>
<operation name="notify">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/notifyRequest" message="tns:notify"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/notifyResponse" message="tns:notifyResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/notify/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getAttributes">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAttributesRequest" message="tns:getAttributes"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAttributesResponse" message="tns:getAttributesResponse"/>
</operation>
<operation name="getAttribute">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAttributeRequest" message="tns:getAttribute"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAttributeResponse" message="tns:getAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getVersion">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getVersionRequest" message="tns:getVersion"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getVersionResponse" message="tns:getVersionResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getVersion/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getGroups">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getGroupsRequest" message="tns:getGroups"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getGroupsResponse" message="tns:getGroupsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getGroups/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getUsersResponse" message="tns:getUsersResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getUsers/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getRole">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getRoleRequest" message="tns:getRole"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getRoleResponse" message="tns:getRoleResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getRole/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getGroup">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getGroupRequest" message="tns:getGroup"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getGroupResponse" message="tns:getGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createGroup">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createGroupRequest" message="tns:createGroup"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createGroupResponse" message="tns:createGroupResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createGroup/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createAttribute">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createAttributeRequest" message="tns:createAttribute"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createAttributeResponse" message="tns:createAttributeResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/ConfigurationService/createAttribute/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getAllRoles">
<input wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAllRolesRequest" message="tns:getAllRoles"/>
<output wsam:Action="http://ws.coverity.com/v6/ConfigurationService/getAllRolesResponse" message="tns:getAllRolesResponse"/>
</operation>
</portType>
<binding name="ConfigurationServicePortBinding" type="tns:ConfigurationService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createComponentMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateComponentMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteComponentMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getComponent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getStreams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="mergeTriageStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAllPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSnapshotsForStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="deleteSnapshot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCheckerProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="setAcceptingNewCommits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="copyStream">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createStreamInProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMessageOfTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMessageOfTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getServerTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSystemConfig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDefectStatuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getComponentMaps">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getSnapshotInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getLdapServerDomains">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommitState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTriageStores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getLicenseState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllIntegrityControlPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateSnapshotInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getLastUpdateTimes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createAttribute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAllRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConfigurationServiceService">
<port name="ConfigurationServicePort" binding="tns:ConfigurationServicePortBinding">
<soap:address location="http://jvinson-wrkst:14800/ws/v6/configurationservice"/>
</port>
</service>
</definitions>