src/main/java/com/coverity/ws/v6/defectservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.coverity.com/v6" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.coverity.com/v6" name="DefectServiceService">
<wsp:Policy wsu:Id="DefectServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.coverity.com/v6" schemaLocation="http://jvinson-wrkst:14800/ws/v6/defectservice?xsd=1"/>
</xsd:schema>
</types>
<message name="updateStreamDefects">
<part name="parameters" element="tns:updateStreamDefects"/>
</message>
<message name="updateStreamDefectsResponse">
<part name="parameters" element="tns:updateStreamDefectsResponse"/>
</message>
<message name="CovRemoteServiceException">
<part name="fault" element="tns:CoverityFault"/>
</message>
<message name="getCIDForDMCID">
<part name="parameters" element="tns:getCIDForDMCID"/>
</message>
<message name="getCIDForDMCIDResponse">
<part name="parameters" element="tns:getCIDForDMCIDResponse"/>
</message>
<message name="getCIDForMergeKey">
<part name="parameters" element="tns:getCIDForMergeKey"/>
</message>
<message name="getCIDForMergeKeyResponse">
<part name="parameters" element="tns:getCIDForMergeKeyResponse"/>
</message>
<message name="updateDefectInstanceProperties">
<part name="parameters" element="tns:updateDefectInstanceProperties"/>
</message>
<message name="updateDefectInstancePropertiesResponse">
<part name="parameters" element="tns:updateDefectInstancePropertiesResponse"/>
</message>
<message name="getStreamDefects">
<part name="parameters" element="tns:getStreamDefects"/>
</message>
<message name="getStreamDefectsResponse">
<part name="parameters" element="tns:getStreamDefectsResponse"/>
</message>
<message name="getStreamFunctionsInternal">
<part name="parameters" element="tns:getStreamFunctionsInternal"/>
</message>
<message name="getStreamFunctionsInternalResponse">
<part name="parameters" element="tns:getStreamFunctionsInternalResponse"/>
</message>
<message name="getMergedDefectsForProject">
<part name="parameters" element="tns:getMergedDefectsForProject"/>
</message>
<message name="getMergedDefectsForProjectResponse">
<part name="parameters" element="tns:getMergedDefectsForProjectResponse"/>
</message>
<message name="getCIDsForStreams">
<part name="parameters" element="tns:getCIDsForStreams"/>
</message>
<message name="getCIDsForStreamsResponse">
<part name="parameters" element="tns:getCIDsForStreamsResponse"/>
</message>
<message name="getCIDsForProject">
<part name="parameters" element="tns:getCIDsForProject"/>
</message>
<message name="getCIDsForProjectResponse">
<part name="parameters" element="tns:getCIDsForProjectResponse"/>
</message>
<message name="getMergedDefectsForStreams">
<part name="parameters" element="tns:getMergedDefectsForStreams"/>
</message>
<message name="getMergedDefectsForStreamsResponse">
<part name="parameters" element="tns:getMergedDefectsForStreamsResponse"/>
</message>
<message name="getMergedDefectHistory">
<part name="parameters" element="tns:getMergedDefectHistory"/>
</message>
<message name="getMergedDefectHistoryResponse">
<part name="parameters" element="tns:getMergedDefectHistoryResponse"/>
</message>
<message name="getCheckerSubcategoriesForProject">
<part name="parameters" element="tns:getCheckerSubcategoriesForProject"/>
</message>
<message name="getCheckerSubcategoriesForProjectResponse">
<part name="parameters" element="tns:getCheckerSubcategoriesForProjectResponse"/>
</message>
<message name="getCheckerSubcategoriesForStreams">
<part name="parameters" element="tns:getCheckerSubcategoriesForStreams"/>
</message>
<message name="getCheckerSubcategoriesForStreamsResponse">
<part name="parameters" element="tns:getCheckerSubcategoriesForStreamsResponse"/>
</message>
<message name="getTrendRecordsForProject">
<part name="parameters" element="tns:getTrendRecordsForProject"/>
</message>
<message name="getTrendRecordsForProjectResponse">
<part name="parameters" element="tns:getTrendRecordsForProjectResponse"/>
</message>
<message name="getComponentMetricsForProject">
<part name="parameters" element="tns:getComponentMetricsForProject"/>
</message>
<message name="getComponentMetricsForProjectResponse">
<part name="parameters" element="tns:getComponentMetricsForProjectResponse"/>
</message>
<message name="getFileContents">
<part name="parameters" element="tns:getFileContents"/>
</message>
<message name="getFileContentsResponse">
<part name="parameters" element="tns:getFileContentsResponse"/>
</message>
<message name="updateTriageForCIDsInTriageStore">
<part name="parameters" element="tns:updateTriageForCIDsInTriageStore"/>
</message>
<message name="updateTriageForCIDsInTriageStoreResponse">
<part name="parameters" element="tns:updateTriageForCIDsInTriageStoreResponse"/>
</message>
<message name="createMergedDefect">
<part name="parameters" element="tns:createMergedDefect"/>
</message>
<message name="createMergedDefectResponse">
<part name="parameters" element="tns:createMergedDefectResponse"/>
</message>
<portType name="DefectService">
<operation name="updateStreamDefects">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/updateStreamDefectsRequest" message="tns:updateStreamDefects"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/updateStreamDefectsResponse" message="tns:updateStreamDefectsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/updateStreamDefects/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCIDForDMCID">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDForDMCIDRequest" message="tns:getCIDForDMCID"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDForDMCIDResponse" message="tns:getCIDForDMCIDResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDForDMCID/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCIDForMergeKey">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDForMergeKeyRequest" message="tns:getCIDForMergeKey"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDForMergeKeyResponse" message="tns:getCIDForMergeKeyResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDForMergeKey/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateDefectInstanceProperties">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/updateDefectInstancePropertiesRequest" message="tns:updateDefectInstanceProperties"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/updateDefectInstancePropertiesResponse" message="tns:updateDefectInstancePropertiesResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/updateDefectInstanceProperties/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getStreamDefects">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getStreamDefectsRequest" message="tns:getStreamDefects"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getStreamDefectsResponse" message="tns:getStreamDefectsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getStreamDefects/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getStreamFunctionsInternal">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getStreamFunctionsInternalRequest" message="tns:getStreamFunctionsInternal"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getStreamFunctionsInternalResponse" message="tns:getStreamFunctionsInternalResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getStreamFunctionsInternal/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectsForProject">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectsForProjectRequest" message="tns:getMergedDefectsForProject"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectsForProjectResponse" message="tns:getMergedDefectsForProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectsForProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCIDsForStreams">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDsForStreamsRequest" message="tns:getCIDsForStreams"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDsForStreamsResponse" message="tns:getCIDsForStreamsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDsForStreams/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCIDsForProject">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDsForProjectRequest" message="tns:getCIDsForProject"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDsForProjectResponse" message="tns:getCIDsForProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getCIDsForProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectsForStreams">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectsForStreamsRequest" message="tns:getMergedDefectsForStreams"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectsForStreamsResponse" message="tns:getMergedDefectsForStreamsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectsForStreams/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getMergedDefectHistory">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectHistoryRequest" message="tns:getMergedDefectHistory"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectHistoryResponse" message="tns:getMergedDefectHistoryResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getMergedDefectHistory/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCheckerSubcategoriesForProject">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getCheckerSubcategoriesForProjectRequest" message="tns:getCheckerSubcategoriesForProject"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getCheckerSubcategoriesForProjectResponse" message="tns:getCheckerSubcategoriesForProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getCheckerSubcategoriesForProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getCheckerSubcategoriesForStreams">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getCheckerSubcategoriesForStreamsRequest" message="tns:getCheckerSubcategoriesForStreams"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getCheckerSubcategoriesForStreamsResponse" message="tns:getCheckerSubcategoriesForStreamsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getCheckerSubcategoriesForStreams/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getTrendRecordsForProject">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getTrendRecordsForProjectRequest" message="tns:getTrendRecordsForProject"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getTrendRecordsForProjectResponse" message="tns:getTrendRecordsForProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getTrendRecordsForProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getComponentMetricsForProject">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getComponentMetricsForProjectRequest" message="tns:getComponentMetricsForProject"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getComponentMetricsForProjectResponse" message="tns:getComponentMetricsForProjectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getComponentMetricsForProject/Fault/CovRemoteServiceException"/>
</operation>
<operation name="getFileContents">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/getFileContentsRequest" message="tns:getFileContents"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/getFileContentsResponse" message="tns:getFileContentsResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/getFileContents/Fault/CovRemoteServiceException"/>
</operation>
<operation name="updateTriageForCIDsInTriageStore">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/updateTriageForCIDsInTriageStoreRequest" message="tns:updateTriageForCIDsInTriageStore"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/updateTriageForCIDsInTriageStoreResponse" message="tns:updateTriageForCIDsInTriageStoreResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/updateTriageForCIDsInTriageStore/Fault/CovRemoteServiceException"/>
</operation>
<operation name="createMergedDefect">
<input wsam:Action="http://ws.coverity.com/v6/DefectService/createMergedDefectRequest" message="tns:createMergedDefect"/>
<output wsam:Action="http://ws.coverity.com/v6/DefectService/createMergedDefectResponse" message="tns:createMergedDefectResponse"/>
<fault message="tns:CovRemoteServiceException" name="CovRemoteServiceException" wsam:Action="http://ws.coverity.com/v6/DefectService/createMergedDefect/Fault/CovRemoteServiceException"/>
</operation>
</portType>
<binding name="DefectServicePortBinding" type="tns:DefectService">
<wsp:PolicyReference URI="#DefectServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateStreamDefects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCIDForDMCID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCIDForMergeKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateDefectInstanceProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getStreamDefects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getStreamFunctionsInternal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectsForProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCIDsForStreams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCIDsForProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectsForStreams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getMergedDefectHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCheckerSubcategoriesForProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getCheckerSubcategoriesForStreams">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getTrendRecordsForProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getComponentMetricsForProject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="getFileContents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateTriageForCIDsInTriageStore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
<operation name="createMergedDefect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CovRemoteServiceException">
<soap:fault name="CovRemoteServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DefectServiceService">
<port name="DefectServicePort" binding="tns:DefectServicePortBinding">
<soap:address location="http://jvinson-wrkst:14800/ws/v6/defectservice"/>
</port>
</service>
</definitions>